html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.logo {
  display: flex;
  width: 60px;
  justify-content: space-between;
}

.logo__left,
.logo__right {
  border: 2px solid #d67e34;
  width: 30px;
  height: 30px;
}

.logo__left {
  transform: translateX(5px) rotate(45deg);
}

.logo__right {
  transform: translateX(-5px) rotate(45deg);
}

header {
  background-image: url('../assets/welcome-image.jpg');
  padding: 20px;
  height: 800px;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 30px;
  border-right: 1px solid white;
}

ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

ul li {
  list-style: none;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
}

ul li a:hover {
  color: #ff7200;
}

.menu__cart {
  width: 12px;
  margin: 20px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  padding-left: 15px;
  gap: 0 10px;
  align-items: center;
  justify-content: center;
}

.contact__phonecall {
  filter: invert(100%);
  width: 18px;
}

.contact__number {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.contact__reservation {
  color: #fff;
  font-size: 10px;
}

.menu__button {
  color: #fff;
  background-color: #FF7303;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
  border: none;
  font-size: 14px;
  cursor: pointer;

}

.content {
  color: #ff7200;
}

.par {
  color: #fff;
}

.content .cn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;

}

nav {
  display: flex;
}